.square {
	position: relative;
	width: 60px; height: 60px;
	border: none;
	vertical-align: top;

	padding: 0;
}

.square.light {
	background-color: #ececec;
}
.square.dark {
	background-color: #00b12e;
}
/*focused square css*/
.square.focus {
	border: solid 3px #fff92c;
}
/*available square*/
.square.available {
	background: radial-gradient(rgb(20 85 30) 19%, #ececec 0%);
}
.square.dark.available {
	background: radial-gradient(rgb(20 85 30) 19%, #00b12e 0%);
}

.square img {
	width: 56px;
}
.square.focus img {
	width: 54px;
}